JXGIS.TianDiTuThematicMaps.Web/Service References/AccurateGPSServiceRef/AccurateGPS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Accurate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="lng" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccurateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccurateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AccurateSoapIn">
    <wsdl:part name="parameters" element="tns:Accurate" />
  </wsdl:message>
  <wsdl:message name="AccurateSoapOut">
    <wsdl:part name="parameters" element="tns:AccurateResponse" />
  </wsdl:message>
  <wsdl:portType name="AccurateGPSSoap">
    <wsdl:operation name="Accurate">
      <wsdl:input message="tns:AccurateSoapIn" />
      <wsdl:output message="tns:AccurateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccurateGPSSoap" type="tns:AccurateGPSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Accurate">
      <soap:operation soapAction="http://tempuri.org/Accurate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccurateGPSSoap12" type="tns:AccurateGPSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Accurate">
      <soap12:operation soapAction="http://tempuri.org/Accurate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccurateGPS">
    <wsdl:port name="AccurateGPSSoap" binding="tns:AccurateGPSSoap">
      <soap:address location="http://123.157.244.10:9001/TestGPS/AccurateGPS.asmx" />
    </wsdl:port>
    <wsdl:port name="AccurateGPSSoap12" binding="tns:AccurateGPSSoap12">
      <soap12:address location="http://123.157.244.10:9001/TestGPS/AccurateGPS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>